body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

}
.col-md-5{
    /* border: 3px solid black; */
    background-color: white;
    margin-top: 150px !important;
    padding: 20px;
    
}
input
{
    margin-top: 20px;
    width: 100%;
}
button{
    margin-top: 20px !important;
    float: left;
}
.success{
    border: 4px solid green !important;
}
.error{
    border: 3px solid red !important;
}
small{
    color: red;
    font-weight: bolder;
    margin: 5px;
    /* float: left; */
}